/* frontend/src/index.css */
body {
  margin: 0;
  font-family: 'Istok Web', sans-serif; /* FONTE PADRÃO GLOBAL */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Garante que os elementos de formulário herdem a fonte */
button, input, select, textarea {
  font-family: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}